#menu{
  background-color:rgba(105,105,105,0.5);
  border-style: ridge;border-radius: 10px;
  padding: 25px 25px;
  margin: 215px 450px 60px 450px;
}

#menu span{
  color: white;
  font-family: serif;
  margin: auto 15px;
}

#menu a{
  color: white;
  text-decoration: none;
}

#titulo{
  background-color:rgb(105,105,105);
  border-style: solid; border-color:
  rgb(105,105,105);padding: 30px 30px;
  margin: 10px 350px 0px 350px;
}

#titulo strong{
  color: white;
  font-size: 40px
}

#texto{
  background-color:rgb(230,230,250);
  border-style: solid;
  border-color:rgb(230,230,250);
  padding: 20px 20px;
  margin: 0px 350px auto 350px;
}


#minha-foto{
  float: left;
  width: 200px;
  height: 350px;
  margin: auto 10px 0px;
}
#foto-blanka{
  float: left;
}

body{
  background-image: url(street_fighter_fundo.png);
  background-repeat: no-repeat;
}
