@model LojaNinja.Dominio.Pedido
@{
    ViewBag.Title = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pedido Excluído Com sucesso</h2>
<br />


<a class="btn btn-default btn-sm" href="~/Pedido/Listagem"><h4>Voltar para Listagem</h4> </a>